.ballScore1 {
    position: absolute;
    top: 51.5%;
    left: 60px;
    font-size: 45px;
    background: #fff;
    padding: 10px 45px;
}

.ballScore2 {
    position: absolute;
    top: 51.5%;
    right: 60px;
    font-size: 45px;
    background: #fff;
    padding: 10px 45px;
}