.s-sandynew .svg-bg {
    background: #f6ff6f !important;
}

#dog {
    transform: translate(90px, 400px);
    transition: all .3s;
    transform-origin: center;
}

#cat {
    transform: translate(-90px, 400px);
    transition: all .3s;
    transform-origin: center;
}

#dog.active {
    transform: translate(90px, 400px) scale(1.2);
}

#cat.active {
    transform: translate(-90px, 400px) scale(1.2);
}

#dog_heart {
    width:150px;
    position: absolute;
    top: 290px;
    left: 910px;
    z-index: 999;
    opacity: 0;
    transition: all .3s;

}

#cat_heart {
    width:150px;
    position: absolute;
    top: 290px;
    left: 200px;
    opacity: 0;
    transition: all .3s;
}
#cat_heart.active, #dog_heart.active {
    opacity: 1;
}
html {
    background: #000000;
}

body {
    background: #2dedd9;
    height: 100vh;
    overflow: hidden;
}

body, html {
    padding: 0;
    margin: 0;
    font-family: Roboto-Regular;
}

.overlay {
    height: 100vh;
    width: 100%;
    background: #000;
    transition: all 1s;
    position: absolute;
    opacity: 1;
    z-index: 200;
}

.overlay.hide {
    opacity: 0;
}

.row {
    display: block
}

.table {
    text-align: center;
    max-height: 100vh
}

.table__elem {
    display: inline-block;
    width: 50%;
    height: 100vh;
    transition: all 2.5s;
    border: 3px solid #0806a7;
    box-sizing: border-box;
}

.table__elem object {
    height: 100%;
}

.table__elem object.full {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: unset;
}

.row.quarter .table__elem {
    height: 50vh !important;
}

.row.full .table__elem {
    width: 100% !important;
}

.svg-bg {
    background: -moz-linear-gradient(top, #21b4e2 58%, #71ceef 69%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #21b4e2 58%, #71ceef 69%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #21b4e2 58%, #71ceef 69%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#21b4e2', endColorstr='#71ceef', GradientType=0); /* IE6-9 */

}

.on-top {
    z-index: 197;
}

.title {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: #00BCD4;
    z-index: 199;
    text-align: center;
    transition: all 1s;
    opacity: 1;
}

.title.hide {
    opacity: 0;
}

.title span {
    margin-top: 40vh;
    display: block;
    font-size: 10em;
    color: #fff;
}

.table__elem img {
    max-height: 100%;
}

.first {
    position: absolute;
    right: auto;
    bottom: auto;
    left: 0;
    top: 0;
}

.second {
    position: absolute;
    right: 0;
    bottom: auto;
    left: auto;
    top: 0;
}

.third {
    position: absolute;
    right: auto;
    bottom: 0;
    left: 0;
    top: auto;
}

.fourth {
    position: absolute;
    right: 0;
    bottom: 0;
    left: auto;
    top: auto;
}

.row.half .table__elem img {
    vertical-align: middle;
    position: relative;
    top: 10vh;
}

.row.half .first.active {
    width: 100% !important;
}

.row.half .second.active {
    width: 100% !important;
}

.row.half .third.active {
    width: 100% !important;
}

.row.half .fourth.active {
    width: 100% !important;
}

.row.quarter .first.active {
    transform: translate(50%, 50%) scale(2);
}

.row.quarter .second.active {
    transform: translate(-50%, 50%) scale(2);
}

.row.quarter .third.active {
    transform: translate(50%, -50%) scale(2);
}

.row.quarter .fourth.active {
    transform: translate(-50%, -50%) scale(2);
}

/* Buttons */

.slides-navigation {
    position: absolute;
    right: 0;
    width: 100px;
    bottom: 35px;
    z-index: 198;
}

.slides-navigation__item {
    border: 5px solid #FF5722;
    font-size: 47px;
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 40px;
    margin: 20px;
    background: #FF9800;
    color: #000;
    cursor: pointer;
}